<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>

	<appSettings>
		<add key="OrigenOpcServerUrl" value="opc.tcp://127.0.0.1:49320" />
		<add key="DestinoOpcServerUrl" value="opc.tcp://127.0.0.1:49320" />
		<add key="TagsOrigen" value="ControlLogix_1.PLC_Linea2.Global.DUN14_Prod.DATA,ControlLogix_1.PLC_Linea2.Global.Cod_Polvo_Prod.DATA,Value3" />
		<add key="TagsDestino" value="ControlLogix_1.PLC_Linea2.Global.EAN13_Prod.DATA,ControlLogix_1.PLC_Linea2.Global.DUN14_Prod.DATA,Value3" />
		<add key="ReadWriteInterval" value= "10000" />
	</appSettings>

</configuration>